USE [GD1C2013]
GO
/****** Object:  Schema [BUGDEVELOPING]    Script Date: 07/21/2013 17:42:53 ******/
CREATE SCHEMA [BUGDEVELOPING] AUTHORIZATION [gd]
GO
/****** Object:  Table [BUGDEVELOPING].[FUNCIONALIDAD]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[FUNCIONALIDAD](
	[FUNCIONALIDAD_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FUNCIONALIDAD_NOMBRE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_FUNCIONALIDAD_1] PRIMARY KEY CLUSTERED 
(
	[FUNCIONALIDAD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[MARCA]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[MARCA](
	[MARCA_CODIGO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MARCA_NOMBRE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[MARCA_CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[CLIENTE]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[CLIENTE](
	[CLIENTE_DNI] [numeric](18, 0) NOT NULL,
	[CLIENTE_NOMBRE] [nvarchar](255) NOT NULL,
	[CLIENTE_APELLIDO] [nvarchar](255) NOT NULL,
	[CLIENTE_SEXO] [nchar](1) NULL,
	[CLIENTE_FECHA_NACIMIENTO] [datetime] NOT NULL,
	[CLIENTE_DISCAPACIDAD] [nchar](2) NULL,
	[CLIENTE_DIRECCION] [nvarchar](255) NOT NULL,
	[CLIENTE_TELEFONO] [numeric](18, 0) NOT NULL,
	[CLIENTE_MAIL] [nvarchar](255) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[CLIENTE_DNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[CIUDAD]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[CIUDAD](
	[CIUDAD_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CIUDAD_NOMBRE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CIUDAD_1] PRIMARY KEY CLUSTERED 
(
	[CIUDAD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[PRODUCTO]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[PRODUCTO](
	[PRODUCTO_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PRODUCTO_NOMBRE] [nvarchar](255) NOT NULL,
	[PRODUCTO_STOCK] [numeric](18, 0) NOT NULL,
	[PRODUCTO_PUNTOS_NECESARIOS] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PRODUCTO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[TIPO_SERVICIO]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[TIPO_SERVICIO](
	[TIPO_SERVICIO_CODIGO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TIPO_SERVICIO_NOMBRE] [nvarchar](50) NOT NULL,
	[TIPO_SERVICIO_PORCENTAJE_ADICIONAL] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_TIPO_SERVICIO_1] PRIMARY KEY CLUSTERED 
(
	[TIPO_SERVICIO_CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[ROL]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [BUGDEVELOPING].[ROL](
	[ROL_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ROL_NOMBRE] [nvarchar](255) NOT NULL,
	[ROL_TIPO] [char](2) NOT NULL,
	[ROL_HABILITACION] [char](2) NOT NULL,
 CONSTRAINT [PK_ROL_1] PRIMARY KEY NONCLUSTERED 
(
	[ROL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [BUGDEVELOPING].[RECORRIDO]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[RECORRIDO](
	[RECORRIDO_CODIGO] [nvarchar](255) NOT NULL,
	[RECORRIDO_TIPO_SERVICIO] [numeric](18, 0) NOT NULL,
	[RECORRIDO_PRECIO_BASE_KG] [numeric](18, 2) NOT NULL,
	[RECORRIDO_PRECIO_BASE_PASAJE] [numeric](18, 2) NOT NULL,
	[RECORRIDO_ID_CIUDAD_ORIGEN] [numeric](18, 0) NOT NULL,
	[RECORRIDO_ID_CIUDAD_DESTINO] [numeric](18, 0) NOT NULL,
	[RECORRIDO_ACTIVO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_RECORRIDO] PRIMARY KEY CLUSTERED 
(
	[RECORRIDO_CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[MICRO]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[MICRO](
	[MICRO_PATENTE] [nvarchar](255) NOT NULL,
	[MICRO_NUMERO] [numeric](18, 0) NOT NULL,
	[MICRO_FECHA_ALTA] [datetime] NOT NULL,
	[MICRO_CODIGO_MARCA] [numeric](18, 0) NOT NULL,
	[MICRO_MODELO] [nvarchar](255) NOT NULL,
	[MICRO_TIPO_SERVICIO] [numeric](18, 0) NOT NULL,
	[MICRO_CANTIDAD_KGS] [numeric](18, 0) NOT NULL,
	[MICRO_FECHA_BAJA] [datetime] NULL,
 CONSTRAINT [PK_MICRO] PRIMARY KEY CLUSTERED 
(
	[MICRO_PATENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[CANJE]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[CANJE](
	[CANJE_CODIGO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CANJE_DNI] [numeric](18, 0) NOT NULL,
	[CANJE_FECHA] [datetime] NOT NULL,
	[CANJE_PRODUCTO_ELEGIDO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_CANJE] PRIMARY KEY CLUSTERED 
(
	[CANJE_CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[FUNROL]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[FUNROL](
	[FUNROL_ROL_ID] [numeric](18, 0) NOT NULL,
	[FUNROL_FUNCIONALIDAD_ID] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_FUNROL_1] PRIMARY KEY CLUSTERED 
(
	[FUNROL_FUNCIONALIDAD_ID] ASC,
	[FUNROL_ROL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[COMPRA]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[COMPRA](
	[COMPRA_CODIGO_PASAJE_ENCOMIENDA] [numeric](18, 0) NOT NULL,
	[COMPRA_FECHA] [datetime] NOT NULL,
	[COMPRA_COMPRADOR] [numeric](18, 0) NOT NULL,
	[COMPRA_MODALIDAD_PAGO] [nvarchar](255) NOT NULL,
	[COMPRA_NUMERO_TARJETA] [numeric](18, 0) NULL,
	[COMPRA_NUMERO_CUOTAS] [numeric](18, 0) NULL,
	[COMPRA_NUMERO_VOUCHER] [numeric](18, 0) NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[COMPRA_CODIGO_PASAJE_ENCOMIENDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[USUARIO]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[USUARIO](
	[USUARIO_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[USUARIO_USERNAME] [nvarchar](255) NOT NULL,
	[USUARIO_PASSWORD] [nvarchar](255) NOT NULL,
	[USUARIO_INTENTOS] [tinyint] NOT NULL,
	[USARIO_ROL] [numeric](18, 0) NULL,
 CONSTRAINT [PK_USUARIO_1] PRIMARY KEY CLUSTERED 
(
	[USUARIO_USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[VIAJE]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[VIAJE](
	[VIAJE_CODIGO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[VIAJE_MICRO_PATENTE] [nvarchar](255) NOT NULL,
	[VIAJE_CODIGO_RECORRIDO] [nvarchar](255) NOT NULL,
	[VIAJE_FECHA_SALIDA] [datetime] NOT NULL,
	[VIAJE_FECHA_ESTIMADA_LLEGADA] [datetime] NOT NULL,
	[VIAJE_FECHA_LLEGADA] [datetime] NULL,
 CONSTRAINT [PK_VIAJE] PRIMARY KEY CLUSTERED 
(
	[VIAJE_CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[MICRO_FUERA_SERVICIO]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[MICRO_FUERA_SERVICIO](
	[MICRO_FUERA_SERVICIO_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MICRO_FUERA_SERVICIO_PATENTE] [nvarchar](255) NOT NULL,
	[MICRO_FUERA_SERVICIO_FECHA_INICIO] [datetime] NOT NULL,
	[MICRO_FUERA_SERVICIO_FECHA_REINCORPORACION] [datetime] NULL,
 CONSTRAINT [PK_MICRO_FUERA_SERVICIO_1] PRIMARY KEY CLUSTERED 
(
	[MICRO_FUERA_SERVICIO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[BUTACA]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[BUTACA](
	[BUTACA_MICRO_PATENTE] [nvarchar](255) NOT NULL,
	[BUTACA_NUMERO] [numeric](18, 0) NOT NULL,
	[BUTACA_PISO] [numeric](18, 0) NOT NULL,
	[BUTACA_TIPO] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_BUTACA_1] PRIMARY KEY CLUSTERED 
(
	[BUTACA_MICRO_PATENTE] ASC,
	[BUTACA_NUMERO] ASC,
	[BUTACA_PISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[PASAJE_ENCOMIENDA]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[PASAJE_ENCOMIENDA](
	[PASAJE_ENCOMIENDA_CODIGO] [numeric](18, 0) NOT NULL,
	[PASAJE_ENCOMIENDA_VIAJERO] [numeric](18, 0) NOT NULL,
	[PASAJE_ENCOMIENDA_PRECIO] [numeric](18, 2) NOT NULL,
	[PASAJE_ENCOMIENDA_CODIGO_VIAJE] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PASAJE] PRIMARY KEY CLUSTERED 
(
	[PASAJE_ENCOMIENDA_CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[PASAJE]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[PASAJE](
	[PASAJE_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PASAJE_CODIGO] [numeric](18, 0) NOT NULL,
	[PASAJE_MICRO_PATENTE] [nvarchar](255) NULL,
	[PASAJE_NUMERO_BUTACA] [numeric](18, 0) NULL,
	[PASAJE_PISO_BUTACA] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PASAJE_2] PRIMARY KEY CLUSTERED 
(
	[PASAJE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[ENCOMIENDA]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[ENCOMIENDA](
	[ENCOMIENDA_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ENCOMIENDA_CODIGO] [numeric](18, 0) NOT NULL,
	[ENCOMIENDA_KG_UTILIZADOS] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_ENCOMIENDA_1] PRIMARY KEY CLUSTERED 
(
	[ENCOMIENDA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BUGDEVELOPING].[CANCELACION]    Script Date: 07/21/2013 17:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BUGDEVELOPING].[CANCELACION](
	[CANCELACION_CODIGO_PASAJE_ENCOMIENDA] [numeric](18, 0) NOT NULL,
	[CANCELACION_FECHA_DEVOLUCION] [datetime] NOT NULL,
	[CANCELACION_MOTIVO] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CANCELACION_1] PRIMARY KEY CLUSTERED 
(
	[CANCELACION_CODIGO_PASAJE_ENCOMIENDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BUTACA_MICRO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[BUTACA]  WITH CHECK ADD  CONSTRAINT [FK_BUTACA_MICRO] FOREIGN KEY([BUTACA_MICRO_PATENTE])
REFERENCES [BUGDEVELOPING].[MICRO] ([MICRO_PATENTE])
GO
ALTER TABLE [BUGDEVELOPING].[BUTACA] CHECK CONSTRAINT [FK_BUTACA_MICRO]
GO
/****** Object:  ForeignKey [FK_CANCELACION_PASAJE_ENCOMIENDA]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[CANCELACION]  WITH CHECK ADD  CONSTRAINT [FK_CANCELACION_PASAJE_ENCOMIENDA] FOREIGN KEY([CANCELACION_CODIGO_PASAJE_ENCOMIENDA])
REFERENCES [BUGDEVELOPING].[PASAJE_ENCOMIENDA] ([PASAJE_ENCOMIENDA_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[CANCELACION] CHECK CONSTRAINT [FK_CANCELACION_PASAJE_ENCOMIENDA]
GO
/****** Object:  ForeignKey [FK_CANJE_CLIENTE]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[CANJE]  WITH CHECK ADD  CONSTRAINT [FK_CANJE_CLIENTE] FOREIGN KEY([CANJE_DNI])
REFERENCES [BUGDEVELOPING].[CLIENTE] ([CLIENTE_DNI])
GO
ALTER TABLE [BUGDEVELOPING].[CANJE] CHECK CONSTRAINT [FK_CANJE_CLIENTE]
GO
/****** Object:  ForeignKey [FK_CANJE_PRODUCTO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[CANJE]  WITH CHECK ADD  CONSTRAINT [FK_CANJE_PRODUCTO] FOREIGN KEY([CANJE_PRODUCTO_ELEGIDO])
REFERENCES [BUGDEVELOPING].[PRODUCTO] ([PRODUCTO_ID])
GO
ALTER TABLE [BUGDEVELOPING].[CANJE] CHECK CONSTRAINT [FK_CANJE_PRODUCTO]
GO
/****** Object:  ForeignKey [FK_COMPRA_CLIENTE]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_CLIENTE] FOREIGN KEY([COMPRA_COMPRADOR])
REFERENCES [BUGDEVELOPING].[CLIENTE] ([CLIENTE_DNI])
GO
ALTER TABLE [BUGDEVELOPING].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_CLIENTE]
GO
/****** Object:  ForeignKey [FK_ENCOMIENDA_PASAJE_ENCOMIENDA]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_ENCOMIENDA_PASAJE_ENCOMIENDA] FOREIGN KEY([ENCOMIENDA_CODIGO])
REFERENCES [BUGDEVELOPING].[PASAJE_ENCOMIENDA] ([PASAJE_ENCOMIENDA_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[ENCOMIENDA] CHECK CONSTRAINT [FK_ENCOMIENDA_PASAJE_ENCOMIENDA]
GO
/****** Object:  ForeignKey [FK_FUNROL_FUNCIONALIDAD]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[FUNROL]  WITH CHECK ADD  CONSTRAINT [FK_FUNROL_FUNCIONALIDAD] FOREIGN KEY([FUNROL_FUNCIONALIDAD_ID])
REFERENCES [BUGDEVELOPING].[FUNCIONALIDAD] ([FUNCIONALIDAD_ID])
GO
ALTER TABLE [BUGDEVELOPING].[FUNROL] CHECK CONSTRAINT [FK_FUNROL_FUNCIONALIDAD]
GO
/****** Object:  ForeignKey [FK_FUNROL_ROL]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[FUNROL]  WITH CHECK ADD  CONSTRAINT [FK_FUNROL_ROL] FOREIGN KEY([FUNROL_ROL_ID])
REFERENCES [BUGDEVELOPING].[ROL] ([ROL_ID])
GO
ALTER TABLE [BUGDEVELOPING].[FUNROL] CHECK CONSTRAINT [FK_FUNROL_ROL]
GO
/****** Object:  ForeignKey [FK_MICRO_MARCA]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[MICRO]  WITH CHECK ADD  CONSTRAINT [FK_MICRO_MARCA] FOREIGN KEY([MICRO_CODIGO_MARCA])
REFERENCES [BUGDEVELOPING].[MARCA] ([MARCA_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[MICRO] CHECK CONSTRAINT [FK_MICRO_MARCA]
GO
/****** Object:  ForeignKey [FK_MICRO_TIPO_SERVICIO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[MICRO]  WITH CHECK ADD  CONSTRAINT [FK_MICRO_TIPO_SERVICIO] FOREIGN KEY([MICRO_TIPO_SERVICIO])
REFERENCES [BUGDEVELOPING].[TIPO_SERVICIO] ([TIPO_SERVICIO_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[MICRO] CHECK CONSTRAINT [FK_MICRO_TIPO_SERVICIO]
GO
/****** Object:  ForeignKey [FK_MICRO_FUERA_SERVICIO_MICRO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[MICRO_FUERA_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_MICRO_FUERA_SERVICIO_MICRO] FOREIGN KEY([MICRO_FUERA_SERVICIO_PATENTE])
REFERENCES [BUGDEVELOPING].[MICRO] ([MICRO_PATENTE])
GO
ALTER TABLE [BUGDEVELOPING].[MICRO_FUERA_SERVICIO] CHECK CONSTRAINT [FK_MICRO_FUERA_SERVICIO_MICRO]
GO
/****** Object:  ForeignKey [FK_PASAJE_BUTACA]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[PASAJE]  WITH CHECK ADD  CONSTRAINT [FK_PASAJE_BUTACA] FOREIGN KEY([PASAJE_MICRO_PATENTE], [PASAJE_NUMERO_BUTACA], [PASAJE_PISO_BUTACA])
REFERENCES [BUGDEVELOPING].[BUTACA] ([BUTACA_MICRO_PATENTE], [BUTACA_NUMERO], [BUTACA_PISO])
GO
ALTER TABLE [BUGDEVELOPING].[PASAJE] CHECK CONSTRAINT [FK_PASAJE_BUTACA]
GO
/****** Object:  ForeignKey [FK_PASAJE_PASAJE_ENCOMIENDA]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[PASAJE]  WITH CHECK ADD  CONSTRAINT [FK_PASAJE_PASAJE_ENCOMIENDA] FOREIGN KEY([PASAJE_CODIGO])
REFERENCES [BUGDEVELOPING].[PASAJE_ENCOMIENDA] ([PASAJE_ENCOMIENDA_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[PASAJE] CHECK CONSTRAINT [FK_PASAJE_PASAJE_ENCOMIENDA]
GO
/****** Object:  ForeignKey [FK_PASAJE_ENCOMIENDA_CLIENTE]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[PASAJE_ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_PASAJE_ENCOMIENDA_CLIENTE] FOREIGN KEY([PASAJE_ENCOMIENDA_VIAJERO])
REFERENCES [BUGDEVELOPING].[CLIENTE] ([CLIENTE_DNI])
GO
ALTER TABLE [BUGDEVELOPING].[PASAJE_ENCOMIENDA] CHECK CONSTRAINT [FK_PASAJE_ENCOMIENDA_CLIENTE]
GO
/****** Object:  ForeignKey [FK_PASAJE_ENCOMIENDA_COMPRA]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[PASAJE_ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_PASAJE_ENCOMIENDA_COMPRA] FOREIGN KEY([PASAJE_ENCOMIENDA_CODIGO])
REFERENCES [BUGDEVELOPING].[COMPRA] ([COMPRA_CODIGO_PASAJE_ENCOMIENDA])
GO
ALTER TABLE [BUGDEVELOPING].[PASAJE_ENCOMIENDA] CHECK CONSTRAINT [FK_PASAJE_ENCOMIENDA_COMPRA]
GO
/****** Object:  ForeignKey [FK_PASAJE_ENCOMIENDA_VIAJE]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[PASAJE_ENCOMIENDA]  WITH CHECK ADD  CONSTRAINT [FK_PASAJE_ENCOMIENDA_VIAJE] FOREIGN KEY([PASAJE_ENCOMIENDA_CODIGO_VIAJE])
REFERENCES [BUGDEVELOPING].[VIAJE] ([VIAJE_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[PASAJE_ENCOMIENDA] CHECK CONSTRAINT [FK_PASAJE_ENCOMIENDA_VIAJE]
GO
/****** Object:  ForeignKey [FK_RECORRIDO_CODIGO_TIPO_SERVICIO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[RECORRIDO]  WITH CHECK ADD  CONSTRAINT [FK_RECORRIDO_CODIGO_TIPO_SERVICIO] FOREIGN KEY([RECORRIDO_TIPO_SERVICIO])
REFERENCES [BUGDEVELOPING].[TIPO_SERVICIO] ([TIPO_SERVICIO_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[RECORRIDO] CHECK CONSTRAINT [FK_RECORRIDO_CODIGO_TIPO_SERVICIO]
GO
/****** Object:  ForeignKey [FK_RECORRIDO_ID_CIUDAD_DESTINO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[RECORRIDO]  WITH CHECK ADD  CONSTRAINT [FK_RECORRIDO_ID_CIUDAD_DESTINO] FOREIGN KEY([RECORRIDO_ID_CIUDAD_DESTINO])
REFERENCES [BUGDEVELOPING].[CIUDAD] ([CIUDAD_ID])
GO
ALTER TABLE [BUGDEVELOPING].[RECORRIDO] CHECK CONSTRAINT [FK_RECORRIDO_ID_CIUDAD_DESTINO]
GO
/****** Object:  ForeignKey [FK_RECORRIDO_ID_CIUDAD_ORIGEN]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[RECORRIDO]  WITH CHECK ADD  CONSTRAINT [FK_RECORRIDO_ID_CIUDAD_ORIGEN] FOREIGN KEY([RECORRIDO_ID_CIUDAD_ORIGEN])
REFERENCES [BUGDEVELOPING].[CIUDAD] ([CIUDAD_ID])
GO
ALTER TABLE [BUGDEVELOPING].[RECORRIDO] CHECK CONSTRAINT [FK_RECORRIDO_ID_CIUDAD_ORIGEN]
GO
/****** Object:  ForeignKey [FK_USUARIO_ROL]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([USARIO_ROL])
REFERENCES [BUGDEVELOPING].[ROL] ([ROL_ID])
GO
ALTER TABLE [BUGDEVELOPING].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
/****** Object:  ForeignKey [FK_VIAJE_MICRO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[VIAJE]  WITH CHECK ADD  CONSTRAINT [FK_VIAJE_MICRO] FOREIGN KEY([VIAJE_MICRO_PATENTE])
REFERENCES [BUGDEVELOPING].[MICRO] ([MICRO_PATENTE])
GO
ALTER TABLE [BUGDEVELOPING].[VIAJE] CHECK CONSTRAINT [FK_VIAJE_MICRO]
GO
/****** Object:  ForeignKey [FK_VIAJE_RECORRIDO]    Script Date: 07/21/2013 17:42:53 ******/
ALTER TABLE [BUGDEVELOPING].[VIAJE]  WITH CHECK ADD  CONSTRAINT [FK_VIAJE_RECORRIDO] FOREIGN KEY([VIAJE_CODIGO_RECORRIDO])
REFERENCES [BUGDEVELOPING].[RECORRIDO] ([RECORRIDO_CODIGO])
GO
ALTER TABLE [BUGDEVELOPING].[VIAJE] CHECK CONSTRAINT [FK_VIAJE_RECORRIDO]
GO

/****************************** FUNCTIONS PROCEDURES VIEWS ******************************/
/****** Object:  View [BUGDEVELOPING].[V_MIGRAR_TIPO_SERVICIO]    Script Date: 06/06/2013 01:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BUGDEVELOPING].[V_MIGRAR_TIPO_SERVICIO] AS
SELECT Tipo_Servicio, Round(AVG((Pasaje_Precio/Recorrido_Precio_BasePasaje) - 1), 3) AS 'Tipo_Servicio_Adicional'
FROM gd_esquema.Maestra
WHERE Paquete_Codigo = '0'
GROUP BY Tipo_Servicio
GO

/****** Object:  UserDefinedFunction [BUGDEVELOPING].[BUSCAR_TSERVICIO]    Script Date: 06/06/2013 01:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [BUGDEVELOPING].[BUSCAR_TSERVICIO] (@NOMBRE_SERVICIO NVARCHAR(255))

RETURNS NUMERIC(18,0)

AS

BEGIN

DECLARE @RESULTADO NUMERIC(18,0)

SELECT  @RESULTADO = TIPO_SERVICIO_CODIGO

FROM GD1C2013.BUGDEVELOPING.TIPO_SERVICIO

WHERE TIPO_SERVICIO_NOMBRE = @NOMBRE_SERVICIO

RETURN @RESULTADO
END
GO


/****** Object:  UserDefinedFunction [BUGDEVELOPING].[BUSCAR_MICRO_FECHA_ALTA]    Script Date: 06/06/2013 01:06:51 ******/
CREATE FUNCTION [BUGDEVELOPING].[BUSCAR_MICRO_FECHA_ALTA] (@Patente_Micro NVARCHAR(255))

RETURNS DATE

AS

BEGIN

DECLARE @FECHA_ALTA DATE

SELECT  top 1 @FECHA_ALTA =   FechaSalida
 from gd_esquema.Maestra where Micro_Patente = @Patente_Micro
order by FechaSalida asc

RETURN @FECHA_ALTA
END
GO

/****** Object:  UserDefinedFunction [BUGDEVELOPING].[BUSCAR_MICRO_MARCA_CODIGO]    Script Date: 06/06/2013 01:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [BUGDEVELOPING].[BUSCAR_MICRO_MARCA_CODIGO] (@NOMBRE_MARCA NVARCHAR(255))

RETURNS NUMERIC(18,0)

AS

BEGIN

DECLARE @RESULTADO NUMERIC(18,0)

SELECT  @RESULTADO = Marca.MARCA_CODIGO

FROM GD1C2013.BUGDEVELOPING.MARCA Marca
 
WHERE Marca.MARCA_NOMBRE = @NOMBRE_MARCA

RETURN @RESULTADO
END
GO

/****** Object:  UserDefinedFunction [BUGDEVELOPING].[BUSCAR_CIUDAD]    Script Date: 06/06/2013 01:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [BUGDEVELOPING].[BUSCAR_CIUDAD] (@NOMBRE_CIUDAD NVARCHAR(50))

RETURNS NUMERIC(18,0)

AS

BEGIN

DECLARE @RESULTADO NUMERIC(18,0)

SELECT  @RESULTADO = CIUDAD_ID

FROM GD1C2013.BUGDEVELOPING.CIUDAD

WHERE CIUDAD_NOMBRE = @NOMBRE_CIUDAD

RETURN @RESULTADO
END
GO

/****** Object:  View [BUGDEVELOPING].[V_MIGRAR_VIAJES_AUX]    Script Date: 06/06/2013 01:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BUGDEVELOPING].[V_MIGRAR_VIAJES_AUX] AS
SELECT DISTINCT Micro_Patente, Recorrido_Ciudad_Origen, Recorrido_Ciudad_Destino, Tipo_Servicio, FechaSalida, Fecha_LLegada_Estimada, FechaLLegada
FROM gd_esquema.Maestra
GO

/****** Object:  View [BUGDEVELOPING].[VISTA_RECORRIDOS]    Script Date: 06/06/2013 01:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BUGDEVELOPING].[VISTA_RECORRIDOS]

AS

select  distinct M1.Recorrido_Codigo,M1.Tipo_Servicio,M1.Recorrido_Ciudad_Destino, M1.Recorrido_Ciudad_Origen, M1.Recorrido_Precio_BaseKG, M2.Recorrido_Precio_BasePasaje
from gd_esquema.Maestra M1 join gd_esquema.Maestra M2 ON (M1.Recorrido_Codigo = M2.Recorrido_Codigo)
Where M1.Recorrido_Precio_BaseKG <> 0 and M2.Recorrido_Precio_BasePasaje<>0
GO

CREATE VIEW BUGDEVELOPING.Migrar_Recorrido as
SELECT DISTINCT BUGDEVELOPING.BUSCAR_TSERVICIO(VISTA_RECORRIDOS.Tipo_Servicio) as 'TIPO_SERVICIO', VISTA_RECORRIDOS.Recorrido_Precio_BaseKG as 'PRECIOKG', VISTA_RECORRIDOS.Recorrido_Precio_BasePasaje as 'PRECIOPASAJE', BUGDEVELOPING.BUSCAR_CIUDAD(VISTA_RECORRIDOS.Recorrido_Ciudad_Origen)as 'CIUDAD_ORIGEN', BUGDEVELOPING.BUSCAR_CIUDAD(VISTA_RECORRIDOS.Recorrido_Ciudad_Destino) as 'CIUDADDESTINO', '1' as 'ACTIVO'

FROM BUGDEVELOPING.VISTA_RECORRIDOS
GO
/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_RECORRIDOS]    Script Date: 06/06/2013 01:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE BUGDEVELOPING.MIGRAR_RECORRIDOS

AS

BEGIN

INSERT INTO BUGDEVELOPING.RECORRIDO

(RECORRIDO_CODIGO, RECORRIDO_TIPO_SERVICIO,RECORRIDO_PRECIO_BASE_KG, RECORRIDO_PRECIO_BASE_PASAJE, RECORRIDO_ID_CIUDAD_ORIGEN, RECORRIDO_ID_CIUDAD_DESTINO, RECORRIDO_ACTIVO )

SELECT ROW_NUMBER() OVER(order by (SELECT 1)) as row_number,* 
FROM BUGDEVELOPING.Migrar_Recorrido

END
GO
/****** Object:  UserDefinedFunction [BUGDEVELOPING].[BUSCAR_CODIGO_RECORRIDO]    Script Date: 06/06/2013 01:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [BUGDEVELOPING].[BUSCAR_CODIGO_RECORRIDO](@Ciudad_Origen nvarchar(255), @Ciudad_Destino nvarchar(255), @Tipo_Servicio nvarchar(255))
RETURNS nvarchar(255)

AS
BEGIN

DECLARE @CODIGO_RECORRIDO nvarchar(255), @ID_CIUDAD_ORIGEN numeric(18,0), @ID_CIUDAD_DESTINO numeric(18,0), @ID_TIPOSERVICIO numeric(18,0)


SET @ID_CIUDAD_ORIGEN = BUGDEVELOPING.BUSCAR_CIUDAD(@Ciudad_Origen)
SET @ID_CIUDAD_DESTINO = BUGDEVELOPING.BUSCAR_CIUDAD(@Ciudad_Destino)
SET @ID_TIPOSERVICIO = BUGDEVELOPING.BUSCAR_TSERVICIO(@Tipo_Servicio)

SELECT @CODIGO_RECORRIDO = RECORRIDO_CODIGO
FROM BUGDEVELOPING.RECORRIDO
WHERE @ID_CIUDAD_DESTINO = RECORRIDO_ID_CIUDAD_DESTINO AND @ID_CIUDAD_ORIGEN = RECORRIDO_ID_CIUDAD_ORIGEN AND @ID_TIPOSERVICIO = RECORRIDO_TIPO_SERVICIO

RETURN @CODIGO_RECORRIDO

END
GO

/****** Object:  UserDefinedFunction [BUGDEVELOPING].[BUSCAR_CODIGO_VIAJE]    Script Date: 06/06/2013 01:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [BUGDEVELOPING].[BUSCAR_CODIGO_VIAJE]
(@PATENTE_MICRO nvarchar(255), @RECORRIDO_CODIGO numeric(18,0),
 @FECHA_SALIDA datetime, @FECHA_LLEGADA_ESTIMADA datetime,
 @FECHA_LLEGADA datetime)
RETURNS numeric(18,0)
AS
BEGIN
	DECLARE @CODIGO numeric(18,0)
	
	SET @CODIGO = (SELECT VIAJE_CODIGO
				   FROM BUGDEVELOPING.VIAJE
				   WHERE VIAJE_MICRO_PATENTE = @PATENTE_MICRO AND VIAJE_CODIGO_RECORRIDO = @RECORRIDO_CODIGO AND
						 VIAJE_FECHA_SALIDA = @FECHA_SALIDA AND VIAJE_FECHA_ESTIMADA_LLEGADA = @FECHA_LLEGADA_ESTIMADA AND
						 VIAJE_FECHA_LLEGADA = @FECHA_LLEGADA)
 
 RETURN @CODIGO
END
GO

/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_VIAJES]    Script Date: 06/06/2013 01:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE BUGDEVELOPING.MIGRAR_VIAJES
AS

BEGIN
		
INSERT INTO BUGDEVELOPING.VIAJE
(VIAJE_MICRO_PATENTE, VIAJE_CODIGO_RECORRIDO, VIAJE_FECHA_SALIDA, VIAJE_FECHA_ESTIMADA_LLEGADA, VIAJE_FECHA_LLEGADA)

SELECT  Micro_Patente, BUGDEVELOPING.BUSCAR_CODIGO_RECORRIDO(Recorrido_Ciudad_Origen, Recorrido_Ciudad_Destino, Tipo_Servicio) , FechaSalida, Fecha_LLegada_Estimada, FechaLLegada
FROM V_MIGRAR_VIAJES_AUX

END
GO

/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_PASAJE_ENCOMIENDA1]    Script Date: 06/19/2013 03:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE BUGDEVELOPING.MIGRAR_PASAJE_ENCOMIENDA1
AS
BEGIN
	/* COMIENZO DE CARGA DE TABLA PASAJE_ENCOMIENDA */
	INSERT INTO BUGDEVELOPING.PASAJE_ENCOMIENDA (PASAJE_ENCOMIENDA_CODIGO, PASAJE_ENCOMIENDA_VIAJERO, PASAJE_ENCOMIENDA_PRECIO, PASAJE_ENCOMIENDA_CODIGO_VIAJE) 
	(SELECT Pasaje_Codigo, Cli_Dni, Pasaje_Precio, VIAJE_CODIGO
	FROM gd_esquema.Maestra join BUGDEVELOPING.VIAJE ON (VIAJE_MICRO_PATENTE = Micro_Patente AND FechaLLegada = VIAJE_FECHA_LLEGADA and FechaSalida = VIAJE_FECHA_SALIDA and Fecha_LLegada_Estimada = VIAJE_FECHA_ESTIMADA_LLEGADA and VIAJE_CODIGO_RECORRIDO = BUGDEVELOPING.BUSCAR_CODIGO_RECORRIDO(Recorrido_Ciudad_Origen, Recorrido_Ciudad_Destino, Tipo_Servicio))
	WHERE Pasaje_Codigo <> 0)			
	/* FIN DE CARGA DE TABLA PASAJE_ENCOMIENDA */	
END
GO

/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_PASAJE_ENCOMIENDA2]    Script Date: 06/19/2013 03:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE BUGDEVELOPING.MIGRAR_PASAJE_ENCOMIENDA2
AS
BEGIN
	/* COMIENZO DE CARGA DE TABLA PASAJE_ENCOMIENDA */
	INSERT INTO BUGDEVELOPING.PASAJE_ENCOMIENDA (PASAJE_ENCOMIENDA_CODIGO, PASAJE_ENCOMIENDA_VIAJERO, PASAJE_ENCOMIENDA_PRECIO, PASAJE_ENCOMIENDA_CODIGO_VIAJE) 
	(SELECT Paquete_Codigo, Cli_Dni, Paquete_Precio, VIAJE_CODIGO
	FROM gd_esquema.Maestra join BUGDEVELOPING.VIAJE ON (VIAJE_MICRO_PATENTE = Micro_Patente AND FechaLLegada = VIAJE_FECHA_LLEGADA and FechaSalida = VIAJE_FECHA_SALIDA and Fecha_LLegada_Estimada = VIAJE_FECHA_ESTIMADA_LLEGADA and VIAJE_CODIGO_RECORRIDO = BUGDEVELOPING.BUSCAR_CODIGO_RECORRIDO(Recorrido_Ciudad_Origen, Recorrido_Ciudad_Destino, Tipo_Servicio))
	WHERE Paquete_Codigo <> 0)			
	/* FIN DE CARGA DE TABLA PASAJE_ENCOMIENDA */	
END
GO

/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_COMPRA1]    Script Date: 06/19/2013 03:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE BUGDEVELOPING.MIGRAR_COMPRA1
AS
BEGIN	
	INSERT INTO BUGDEVELOPING.COMPRA (COMPRA_CODIGO_PASAJE_ENCOMIENDA, COMPRA_FECHA, COMPRA_COMPRADOR, COMPRA_MODALIDAD_PAGO)
	(SELECT Pasaje_Codigo, Pasaje_FechaCompra, Cli_Dni, 'Efectivo'
	FROM gd_esquema.Maestra
	WHERE Pasaje_Codigo <> 0)
END
GO
/****** Object:  StoredProcedure [BUGDEVELOPING].[Alta_Recorrido]    Script Date: 07/13/2013 17:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [BUGDEVELOPING].[Alta_Recorrido]

@RECORRIDO_CODIGO nvarchar(255),
@RECORRIDO_TIPO_SERVICIO numeric(18,0),
@RECORRIDO_CIUDAD_ORIGEN numeric(18,0),
@RECORRIDO_CIUDAD_DESTINO numeric(18,0),
@RECORRIDO_PRECIO_KG numeric(18,2),
@RECORRIDO_PRECIO_PASAJE numeric(18,2)

AS
BEGIN
	Declare @CodigoRetorno varchar(50)
	Declare @ExisteRecorridoIgual_Codigo nvarchar(255)
	Select @ExisteRecorridoIgual_Codigo = RECORRIDO_CODIGO FROM BUGDEVELOPING.RECORRIDO where RECORRIDO_TIPO_SERVICIO = @RECORRIDO_TIPO_SERVICIO AND
																			  RECORRIDO_ID_CIUDAD_ORIGEN = @RECORRIDO_CIUDAD_ORIGEN AND
																			  RECORRIDO_ID_CIUDAD_DESTINO = @RECORRIDO_CIUDAD_DESTINO AND
																			  RECORRIDO_PRECIO_BASE_KG = @RECORRIDO_PRECIO_KG AND
																			  RECORRIDO_PRECIO_BASE_PASAJE = @RECORRIDO_PRECIO_PASAJE AND
																			  RECORRIDO_ACTIVO = 1
																			 
			If (@ExisteRecorridoIgual_Codigo is not Null)
				Begin
					Declare @EstaActivo bit
					SELECT @EstaActivo = RECORRIDO_ACTIVO FROM BUGDEVELOPING.RECORRIDO WHERE RECORRIDO_CODIGO = @ExisteRecorridoIgual_Codigo
					 /* IF(@EstaActivo = 1) 
						SET @CodigoRetorno = 'recorridoSimilarExistenteYActivo'
					  ELSE SET @CodigoRetorno = 'recorridoSimilarExistenteYNoActivo'
					*/
						SET @CodigoRetorno = 'recorridoSimilarExistente'
					Select @CodigoRetorno,@ExisteRecorridoIgual_Codigo
				End
	
			ELSE
				BEGIN
					
					INSERT INTO BUGDEVELOPING.RECORRIDO
						(
						RECORRIDO_CODIGO,
						RECORRIDO_TIPO_SERVICIO,
						RECORRIDO_PRECIO_BASE_KG,
						RECORRIDO_PRECIO_BASE_PASAJE,
						RECORRIDO_ID_CIUDAD_ORIGEN,
						RECORRIDO_ID_CIUDAD_DESTINO,
						RECORRIDO_ACTIVO)
					VALUES
						(
						@RECORRIDO_CODIGO,
						@RECORRIDO_TIPO_SERVICIO,
						@RECORRIDO_PRECIO_KG,
						@RECORRIDO_PRECIO_PASAJE,
						@RECORRIDO_CIUDAD_ORIGEN,
						@RECORRIDO_CIUDAD_DESTINO,
						1)
					SET @CodigoRetorno = 'recorridoDadoDeAltaExitoso'
					Select @CodigoRetorno
				END
END

GO
/****** Object:  StoredProcedure [BUGDEVELOPING].[BUTACA_ALTA]    Script Date: 07/13/2013 17:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [BUGDEVELOPING].[BUTACA_ALTA]

@B_MicroPatente nvarchar(255),
@B_Piso numeric(18,0),
@B_Numero numeric(18,0),
@B_Tipo nvarchar(255)

AS
BEGIN
 INSERT INTO BUGDEVELOPING.BUTACA
 (BUTACA_MICRO_PATENTE,
  BUTACA_PISO,
  BUTACA_NUMERO,
  BUTACA_TIPO
  )
 VALUES
  (@B_MicroPatente,
   @B_Piso,
   @B_Numero,
   @B_Tipo
   )
 	 
END

GO
/****** Object:  StoredProcedure [BUGDEVELOPING].[MICRO_ALTA]    Script Date: 07/13/2013 17:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [BUGDEVELOPING].[MICRO_ALTA]

@M_Patente nvarchar(255),
@M_Numero numeric(18,0),
@M_FechaAlta dateTime,
@M_CodigoMarca int,
@M_Modelo nvarchar(255),
@M_TipoServicio nvarchar(50),
@M_KGS numeric(18,0)

AS
BEGIN

Declare @Existe_Patente nvarchar(255)
Declare @Existe_Numero numeric(18,0)


Select @Existe_Patente =  MICRO_PATENTE FROM BUGDEVELOPING.MICRO where MICRO_PATENTE = @M_Patente
Select @Existe_Numero = MICRO_NUMERO FROM BUGDEVELOPING.MICRO where MICRO_NUMERO = @M_Numero

If (@Existe_Patente is not Null)
	Begin
		SELECT 'PatenteExistente'
	End
ELSE IF(@Existe_Numero is not Null)
	begin
		SELECT 'NumeroExistente'
	end

ELSE	
 INSERT INTO BUGDEVELOPING.MICRO
 (MICRO_PATENTE,
  MICRO_CODIGO_MARCA,
  MICRO_NUMERO,
  MICRO_FECHA_ALTA,
  MICRO_FECHA_BAJA,
  MICRO_MODELO,
  MICRO_TIPO_SERVICIO,
  MICRO_CANTIDAD_KGS)
 VALUES
  (@M_Patente,
  @M_CodigoMarca,
  @M_Numero,
  @M_FechaAlta,
  NULL,
  @M_Modelo,
  @M_TipoServicio,
  @M_KGS)
 SELECT 'GuardadoExistoso'	 
END
/****** Object:  StoredProcedure [BUGDEVELOPING].[MicrosSimilaresA]    Script Date: 07/13/2013 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [BUGDEVELOPING].[MicrosSimilaresA]
@M_P nvarchar(255)
As
Begin
DECLARE @Micro_Patente nvarchar(255)
DECLARE @Micro_Numero numeric(18,0)
DECLARE @Micro_FechaAlta datetime
DECLARE @Micro_CodigoMarca numeric(18,0)
DECLARE @Micro_Modelo nvarchar(255)
DECLARE @Micro_Tipo_Servicio numeric(18,0) 
DECLARE @Micro_Cantidad_KGS numeric(18,0)
DECLARE @Micro_FechaBaja datetime

declare CursorMicro cursor for
	select *
	from BUGDEVELOPING.MICRO
	where MICRO_PATENTE = @M_P
	
	open CursorMicro
	fetch CursorMicro
	into @Micro_Patente,
	     @Micro_Numero,
	     @Micro_FechaAlta,
	     @Micro_CodigoMarca,
		 @Micro_Modelo, 
		 @Micro_Tipo_Servicio,  
		 @Micro_Cantidad_KGS, 
		 @Micro_FechaBaja 
		 

	
	
SELECT MICRO_PATENTE
FROM BUGDEVELOPING.MICRO
WHERE MICRO_CODIGO_MARCA = @Micro_CodigoMarca AND
	  MICRO_CANTIDAD_KGS >= @Micro_Cantidad_KGS AND
	  MICRO_TIPO_SERVICIO = @Micro_Tipo_Servicio AND
	  MICRO_PATENTE <> @M_P AND
	  MICRO_PATENTE NOT IN (
	  SELECT MICRO_FUERA_SERVICIO.MICRO_FUERA_SERVICIO_PATENTE
	  FROM BUGDEVELOPING.MICRO_FUERA_SERVICIO
	  )
	  AND
	  MICRO_PATENTE IN (
SELECT butacaOtroMicro.BUTACA_MICRO_PATENTE
FROM BUGDEVELOPING.BUTACA butacaDeMicro join BUGDEVELOPING.BUTACA butacaOtroMicro ON ( 
											 butacaDeMicro.BUTACA_NUMERO = butacaOtroMicro.BUTACA_NUMERO and
											 butacaDeMicro.BUTACA_PISO = butacaOtroMicro.BUTACA_PISO and
											 butacaDeMicro.BUTACA_TIPO = butacaOtroMicro.BUTACA_TIPO)
WHERE butacaDeMicro.BUTACA_MICRO_PATENTE = @M_P
GROUP BY butacaOtroMicro.BUTACA_MICRO_PATENTE
HAVING COUNT(*) = (SELECT COUNT(*) FROM BUGDEVELOPING.BUTACA WHERE BUTACA_MICRO_PATENTE = @M_P )
)

	close cursorMicro
	DEALLOCATE cursorMicro
End 

GO
/****** Object:  StoredProcedure [BUGDEVELOPING].[Modificar_Recorrido]    Script Date: 07/13/2013 17:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [BUGDEVELOPING].[Modificar_Recorrido]

@RECORRIDO_CODIGO nvarchar(38),
@RECORRIDO_TIPO_SERVICIO numeric(18,0),
@RECORRIDO_CIUDAD_ORIGEN numeric(18,0),
@RECORRIDO_CIUDAD_DESTINO numeric(18,0),
@RECORRIDO_PRECIO_KG numeric(18,2),
@RECORRIDO_PRECIO_PASAJE numeric(18,2)

AS
BEGIN
	Declare @CodigoRetorno nvarchar(38)
	Declare @ExisteRecorridoIgual_Codigo nvarchar(38)
	Select @ExisteRecorridoIgual_Codigo =  RECORRIDO_CODIGO FROM BUGDEVELOPING.RECORRIDO where RECORRIDO_TIPO_SERVICIO = @RECORRIDO_TIPO_SERVICIO AND
																			   RECORRIDO_ID_CIUDAD_ORIGEN = @RECORRIDO_CIUDAD_ORIGEN AND
																			   RECORRIDO_ID_CIUDAD_DESTINO = @RECORRIDO_CIUDAD_DESTINO AND
																			   RECORRIDO_PRECIO_BASE_KG = @RECORRIDO_PRECIO_KG AND
																			   RECORRIDO_PRECIO_BASE_PASAJE = @RECORRIDO_PRECIO_PASAJE AND
																			   RECORRIDO_ACTIVO = 1																		
			If (@ExisteRecorridoIgual_Codigo = @RECORRIDO_CODIGO OR
				@ExisteRecorridoIgual_Codigo != @RECORRIDO_CODIGO)
				Begin
					SET @CodigoRetorno = 'recorridoSimilarExistente'
					Select @CodigoRetorno,@ExisteRecorridoIgual_Codigo
				End
	
			ELSE 
				Begin
				    Update BUGDEVELOPING.RECORRIDO
					Set
					RECORRIDO_TIPO_SERVICIO = @RECORRIDO_TIPO_SERVICIO,
					RECORRIDO_ID_CIUDAD_ORIGEN = @RECORRIDO_CIUDAD_ORIGEN,
					RECORRIDO_ID_CIUDAD_DESTINO = @RECORRIDO_CIUDAD_DESTINO,
					RECORRIDO_PRECIO_BASE_KG = @RECORRIDO_PRECIO_KG,
					RECORRIDO_PRECIO_BASE_PASAJE= @RECORRIDO_PRECIO_PASAJE
					Where (RECORRIDO_CODIGO = @RECORRIDO_CODIGO)
				
					SET @CodigoRetorno = 'recorridoModificado'
					Select @CodigoRetorno,Null
				End
				 
END

GO

CREATE VIEW  BUGDEVELOPING.V_RECORRIDO_ACTIVO AS
SELECT     BUGDEVELOPING.RECORRIDO.RECORRIDO_CODIGO, BUGDEVELOPING.TIPO_SERVICIO.TIPO_SERVICIO_NOMBRE,
                          (SELECT     CIUDAD_NOMBRE
                            FROM          BUGDEVELOPING.CIUDAD
                            WHERE      (CIUDAD_ID = BUGDEVELOPING.RECORRIDO.RECORRIDO_ID_CIUDAD_ORIGEN)) AS CIUDAD_ORIGEN,
                          (SELECT     CIUDAD_NOMBRE
                            FROM          BUGDEVELOPING.CIUDAD
                            WHERE      (CIUDAD_ID = BUGDEVELOPING.RECORRIDO.RECORRIDO_ID_CIUDAD_DESTINO)) AS CIUDAD_DESTINO, 
                      BUGDEVELOPING.RECORRIDO.RECORRIDO_PRECIO_BASE_KG, BUGDEVELOPING.RECORRIDO.RECORRIDO_PRECIO_BASE_PASAJE
FROM         BUGDEVELOPING.RECORRIDO LEFT OUTER JOIN
                      BUGDEVELOPING.TIPO_SERVICIO ON 
                      BUGDEVELOPING.RECORRIDO.RECORRIDO_TIPO_SERVICIO = BUGDEVELOPING.TIPO_SERVICIO.TIPO_SERVICIO_CODIGO
WHERE     (BUGDEVELOPING.RECORRIDO.RECORRIDO_ACTIVO = 1)

GO

CREATE VIEW BUGDEVELOPING.V_RECORRIDO AS
SELECT     BUGDEVELOPING.RECORRIDO.RECORRIDO_CODIGO, BUGDEVELOPING.TIPO_SERVICIO.TIPO_SERVICIO_NOMBRE,
                          (SELECT     CIUDAD_NOMBRE
                            FROM          BUGDEVELOPING.CIUDAD
                            WHERE      (CIUDAD_ID = BUGDEVELOPING.RECORRIDO.RECORRIDO_ID_CIUDAD_ORIGEN)) AS CIUDAD_ORIGEN,
                          (SELECT     CIUDAD_NOMBRE
                            FROM          BUGDEVELOPING.CIUDAD
                            WHERE      (CIUDAD_ID = BUGDEVELOPING.RECORRIDO.RECORRIDO_ID_CIUDAD_DESTINO)) AS CIUDAD_DESTINO, 
                      BUGDEVELOPING.RECORRIDO.RECORRIDO_PRECIO_BASE_KG, BUGDEVELOPING.RECORRIDO.RECORRIDO_PRECIO_BASE_PASAJE
FROM         BUGDEVELOPING.RECORRIDO LEFT OUTER JOIN
                      BUGDEVELOPING.TIPO_SERVICIO ON 
                      BUGDEVELOPING.RECORRIDO.RECORRIDO_TIPO_SERVICIO = BUGDEVELOPING.TIPO_SERVICIO.TIPO_SERVICIO_CODIGO							
GO 

CREATE VIEW BUGDEVELOPING.V_RECORRIDO_CODIGO_MODIFICABLE AS
SELECT     RECORRIDO_CODIGO, RECORRIDO_TIPO_SERVICIO, RECORRIDO_PRECIO_BASE_KG, RECORRIDO_PRECIO_BASE_PASAJE, 
                      RECORRIDO_ID_CIUDAD_ORIGEN, RECORRIDO_ID_CIUDAD_DESTINO, RECORRIDO_ACTIVO
FROM         BUGDEVELOPING.RECORRIDO
WHERE     (RECORRIDO_CODIGO NOT IN
                          (SELECT     VIAJE_CODIGO_RECORRIDO
                            FROM          BUGDEVELOPING.VIAJE))
GO

/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_COMPRA2]    Script Date: 06/19/2013 03:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE BUGDEVELOPING.MIGRAR_COMPRA2
AS
BEGIN	
	INSERT INTO BUGDEVELOPING.COMPRA (COMPRA_CODIGO_PASAJE_ENCOMIENDA, COMPRA_FECHA, COMPRA_COMPRADOR, COMPRA_MODALIDAD_PAGO)
	(SELECT Paquete_Codigo, Paquete_FechaCompra, Cli_Dni, 'Efectivo'
	FROM gd_esquema.Maestra
	WHERE Paquete_Codigo <> 0)
END
GO

/****** Object:  View [V_MICROS_MIGRAR_AUX]    Script Date: 06/06/2013 01:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW V_MICROS_MIGRAR_AUX AS
SELECT DISTINCT Micro_Patente,Micro_Marca,DENSE_RANK() OVER( ORDER BY Micro_Patente) numero,Micro_Modelo , TIPO_SERVICIO, Micro_KG_Disponibles
FROM GD1C2013.gd_esquema.Maestra
GO


/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_MICROS]    Script Date: 06/06/2013 01:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [BUGDEVELOPING].[MIGRAR_MICROS]
AS

BEGIN

INSERT INTO BUGDEVELOPING.MICRO
(BUGDEVELOPING.MICRO.MICRO_PATENTE,BUGDEVELOPING.MICRO.MICRO_NUMERO,BUGDEVELOPING.MICRO.MICRO_FECHA_ALTA,BUGDEVELOPING.MICRO.MICRO_CODIGO_MARCA,BUGDEVELOPING.MICRO.MICRO_MODELO,
BUGDEVELOPING.MICRO.MICRO_TIPO_SERVICIO,BUGDEVELOPING.MICRO.MICRO_CANTIDAD_KGS)
SELECT  Micro_Patente,numero,BUGDEVELOPING.BUSCAR_MICRO_FECHA_ALTA(Micro_Patente)fechaAlta ,BUGDEVELOPING.BUSCAR_MICRO_MARCA_CODIGO(Micro_Marca),Micro_Modelo , BUGDEVELOPING.BUSCAR_TSERVICIO(V_MICROS_MIGRAR_AUX.Tipo_Servicio) , Micro_KG_Disponibles
FROM dbo.V_MICROS_MIGRAR_AUX
END
GO

/****** Object:  StoredProcedure [BUGDEVELOPING].[MIGRAR_BUTACAS]    Script Date: 05/30/2013 01:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [BUGDEVELOPING].[MIGRAR_BUTACAS]
AS

BEGIN

INSERT INTO BUGDEVELOPING.BUTACA

(BUGDEVELOPING.BUTACA_MICRO_PATENTE,BUGDEVELOPING.BUTACA_NUMERO,BUGDEVELOPING.BUTACA_PISO,BUGDEVELOPING.BUTACA_TIPO)

SELECT DISTINCT Micro_Patente,Butaca_Nro,Butaca_Piso,Butaca_Tipo
FROM GD1C2013.gd_esquema.Maestra

END
GO

/****************************** MIGRACION DE DATOS ******************************/

/****************************** MIGRAR CIUDADES ******************************/

INSERT INTO BUGDEVELOPING.CIUDAD

(CIUDAD_NOMBRE)

(SELECT DISTINCT Recorrido_Ciudad_Destino
FROM gd_esquema.Maestra 

UNION

SELECT DISTINCT Recorrido_Ciudad_Origen

FROM gd_esquema.Maestra)

GO 

/****************************** MIGRAR TIPOS DE SERVICIO ******************************/

INSERT INTO BUGDEVELOPING.TIPO_SERVICIO

(TIPO_SERVICIO_NOMBRE, TIPO_SERVICIO_PORCENTAJE_ADICIONAL)

SELECT DISTINCT Tipo_Servicio, Tipo_Servicio_Adicional
 
FROM BUGDEVELOPING.V_MIGRAR_TIPO_SERVICIO

GO 

/****************************** MIGRAR RECORRIDOS ******************************/

EXECUTE BUGDEVELOPING.MIGRAR_RECORRIDOS
GO

/****************************** MIGRAR CLIENTES ******************************/

INSERT INTO BUGDEVELOPING.CLIENTE 

(CLIENTE_NOMBRE,CLIENTE_APELLIDO,CLIENTE_DNI,CLIENTE_DIRECCION,CLIENTE_TELEFONO,CLIENTE_MAIL,CLIENTE_FECHA_NACIMIENTO)

SELECT DISTINCT [Cli_Nombre]
      ,[Cli_Apellido]
      ,[Cli_Dni]
      ,[Cli_Dir]
      ,[Cli_Telefono]
      ,[Cli_Mail]
      ,[Cli_Fecha_Nac]
      
	  FROM GD1C2013.gd_esquema.Maestra
      
GO	  

/****************************** MIGRAR MARCAS ******************************/

INSERT INTO BUGDEVELOPING.MARCA

(MARCA_NOMBRE)

SELECT DISTINCT Micro_Marca
FROM gd_esquema.Maestra 

GO 

/****************************** MIGRAR MICROS ******************************/

EXECUTE [BUGDEVELOPING].[MIGRAR_MICROS]
GO

/****************************** MIGRAR BUTACAS ******************************/

EXECUTE [BUGDEVELOPING].[MIGRAR_BUTACAS]
GO

/****************************** MIGRAR VIAJES ******************************/

EXECUTE BUGDEVELOPING.MIGRAR_VIAJES
GO

/****************************** MIGRAR COMPRAS ********************************/
EXECUTE BUGDEVELOPING.MIGRAR_COMPRA1
GO
EXECUTE BUGDEVELOPING.MIGRAR_COMPRA2
GO


/****************************** PASAJES/ENCOMIENDAS ******************************/

EXECUTE BUGDEVELOPING.MIGRAR_PASAJE_ENCOMIENDA1
GO
EXECUTE BUGDEVELOPING.MIGRAR_PASAJE_ENCOMIENDA2
GO


/****************************** MIGRAR PASAJES ******************************/

INSERT INTO BUGDEVELOPING.PASAJE(PASAJE_CODIGO, PASAJE_MICRO_PATENTE, PASAJE_NUMERO_BUTACA, PASAJE_PISO_BUTACA)
SELECT Pasaje_Codigo, Micro_Patente, Butaca_Nro, Butaca_Piso
FROM gd_esquema.Maestra
WHERE Pasaje_Codigo <>0
GROUP BY Pasaje_Codigo, Micro_Patente, Butaca_Nro, Butaca_Piso
GO

/****************************** MIGRAR ENCOMIENDAS ******************************/

INSERT INTO BUGDEVELOPING.ENCOMIENDA(ENCOMIENDA_CODIGO, ENCOMIENDA_KG_UTILIZADOS)
SELECT Paquete_Codigo, Paquete_KG
FROM gd_esquema.Maestra
WHERE Paquete_Codigo <>0
GROUP BY Paquete_Codigo, Paquete_KG
GO


/****************************** MIGRAR PRODUCTOS ******************************/

INSERT INTO BUGDEVELOPING.PRODUCTO(PRODUCTO_NOMBRE, PRODUCTO_STOCK, PRODUCTO_PUNTOS_NECESARIOS)
VALUES ('Ultrabook Dell XPS 13', '5', '60000'),
	   ('Smartphone Samsung Galaxy S3', '10', '15000'),
	   ('Tablet IPad 3','5', '20000'),
	   ('Home Theater Sony', '10', '9000'),
	   ('Smart TV Phillips 32"', '5', '30000')
GO

/*Cambios en la entidad BUGDEVELOPING.COMPRA para borrar el identity y generar una columna no auto-incremental nueva con la misma informacion*/

ALTER TABLE BUGDEVELOPING.COMPRA 
ADD COMPRA_NUMERO_VOUCHER_NUEVO numeric(18, 0)
GO
UPDATE BUGDEVELOPING.COMPRA 
SET COMPRA_NUMERO_VOUCHER_NUEVO = COMPRA_NUMERO_VOUCHER
GO
ALTER TABLE BUGDEVELOPING.COMPRA
DROP COLUMN COMPRA_NUMERO_VOUCHER
GO
sp_rename 'BUGDEVELOPING.COMPRA.COMPRA_NUMERO_VOUCHER_NUEVO', 'COMPRA_NUMERO_VOUCHER', 'COLUMN'
GO

/****************************** SET DE USUARIOS ************************************/
INSERT INTO BUGDEVELOPING.USUARIO

(USUARIO_USERNAME,USUARIO_PASSWORD,USUARIO_INTENTOS)

VALUES

('pepeArgento','e6b87050bfcb8143fcb8db0170a4dc9ed00d904ddd3e2a4ad1b1e8dc0fdc9b',3)


GO



INSERT INTO BUGDEVELOPING.USUARIO

(USUARIO_USERNAME,USUARIO_PASSWORD,USUARIO_INTENTOS)

VALUES

('clienteUser','e6b87050bfcb8143fcb8db0170a4dc9ed00d904ddd3e2a4ad1b1e8dc0fdc9b',3)


GO

/*************************** FUNCIONALIDADES PRECARGADAS *****************************/

INSERT INTO BUGDEVELOPING.FUNCIONALIDAD

(FUNCIONALIDAD_NOMBRE)
VALUES

('Administrcion de Micros'),
('Administracion de Recorridos'), 
('Cancelacion de Compra'),
('Canje de puntos del Cliente'),
('Compra de Pasajes / Encomiendas'),
('Administracion de Viajes'),
('Registro de llegadas de Micros a Destino'),
('Estadísticas'),
('Consulta de puntos del Cliente'),
('Administracion de Roles')

GO

/***************************** ROLES PRECARGADOS ******************************/


INSERT INTO BUGDEVELOPING.ROL

(ROL_NOMBRE,ROL_TIPO,ROL_HABILITACION)

VALUES

('Administrador',1,1),('Cliente',0,1)

GO

/************************* FUNCIONALIDAD POR ROL ***************************/
INSERT INTO BUGDEVELOPING.FUNROL

(FUNROL_ROL_ID,FUNROL_FUNCIONALIDAD_ID)

VALUES(1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(1,7),(1,8),(1,9), (1,10),(2,5),(2,9)
GO

/************************* ASIGNACION DE ROLES PARA USUARIOS PRECARGADOS ************************/
	
UPDATE BUGDEVELOPING.USUARIO 

SET USARIO_ROL = 1

WHERE USUARIO_USERNAME = 'pepeArgento'
GO

UPDATE BUGDEVELOPING.USUARIO 

SET USARIO_ROL = 2

WHERE USUARIO_USERNAME = 'clienteUser'
GO


/****************************** DROPS ******************************/

DROP PROCEDURE BUGDEVELOPING.MIGRAR_RECORRIDOS
GO

DROP FUNCTION BUGDEVELOPING.BUSCAR_CIUDAD
GO

DROP FUNCTION BUGDEVELOPING.BUSCAR_TSERVICIO
GO

DROP VIEW BUGDEVELOPING.VISTA_RECORRIDOS
GO

DROP FUNCTION BUGDEVELOPING.BUSCAR_CODIGO_RECORRIDO
GO

DROP VIEW [BUGDEVELOPING].[V_MIGRAR_VIAJES_AUX]
GO

DROP VIEW V_MICROS_MIGRAR_AUX
GO

DROP VIEW BUGDEVELOPING.Migrar_Recorrido

GO

DROP PROCEDURE [BUGDEVELOPING].[MIGRAR_MICROS]
GO

DROP FUNCTION BUGDEVELOPING.BUSCAR_MICRO_MARCA_CODIGO
GO

DROP PROCEDURE [BUGDEVELOPING].[MIGRAR_BUTACAS]
GO

DROP FUNCTION BUGDEVELOPING.BUSCAR_CODIGO_VIAJE
GO

DROP PROCEDURE BUGDEVELOPING.MIGRAR_PASAJE_ENCOMIENDA1
GO

DROP FUNCTION BUGDEVELOPING.BUSCAR_MICRO_FECHA_ALTA
GO

DROP PROCEDURE BUGDEVELOPING.MIGRAR_PASAJE_ENCOMIENDA2
GO

DROP PROCEDURE BUGDEVELOPING.MIGRAR_COMPRA1
GO

DROP PROCEDURE BUGDEVELOPING.MIGRAR_COMPRA2
GO

DROP VIEW BUGDEVELOPING.V_MIGRAR_TIPO_SERVICIO
GO

DROP PROCEDURE BUGDEVELOPING.MIGRAR_VIAJES
GO